.about__container p {
  color: white;
}
.about__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin: auto;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(6deg);
}

.about__me-image:hover {
  transition: var(--transition);
}


.about__card:hover {
  transition: var(--transition);
  background: transparent;
  border-color: black;
  cursor: default;
  color: black;
}


.about__icon {
  color: var(--color-primary);
  font-size: 4rem;
  margin-bottom: 1rem;
}

.about__card:hover .about__icon {
  transition: var(--transition);
  color: black;
}

.about__card:hover small {
  transition: var(--transition);
  color: black;
}

.about__card h5 {
  font-size: 1.2rem;
}

.about__card small {
  font-size: 0.9rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

.click__icon {
  font-size: 40px;
  margin-top: 0.5em;
}

.lets__talk {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}



/* ================= MEDIA QUERIES (MEDIUM DEVICES - TABLETS) ==================== */
@media screen and (max-width: 1024px) {
  .about__me {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__content {
    margin: 1rem 1rem 1rem 1rem;
  }

  .about__cards {
    margin: 1rem 0 1rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* ================= MEDIA QUERIES (SMAILL DEVICES - PHONES) ==================== */
@media screen and (max-width: 600px) {
  .about__me {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}
