header {
    height: auto;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    /* position: relative; */
}


.profession-text{
    font-size: 1.2em;
}

.container_links {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.container_links a {
    color: black;
    border-color: black;
}


/* ================ SOCIALS ===================== */
.container_socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 3em;
    margin-top: 0.3em;
}

.social_links:hover {
    transition: var(--transition);
    color: black;
}

/* ================ ME ===================== */
.me {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    width: 16rem;
    height: 16rem;
    margin-top: 1.5rem;
    border-radius: 10rem;
    overflow: hidden;
}

/* ================ SCROLL DOWN ===================== */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES - TABLETS) ==================== */
@media screen and (max-width: 1024px) {
    header {
        height: auto;
    }
}

/* ================= MEDIA QUERIES (SMAILL DEVICES - PHONES) ==================== */
@media screen and (max-width: 600px) {
    header {
        height: auto;
    }

    .scroll__down {
        display: none;
    }

}