footer {
  background: var(--color-primary);
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

.footer__logo{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.footer__logo p {
  font-size: 2rem;
  color: black;
  padding-right: 1rem;
}

.logo{
  width: 5rem;
  height: 5rem;
}

footer a {
  color: black;
}



footer a:hover {
  text-decoration: underline;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 1rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.footer__socials a{
  color: black;
  padding: 0.4rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  font-size: 2rem;
}

.footer__socials a:hover{
  color: var(--color-bg);
  transition: var(--transition);
}

.footer__copyright {
  margin-bottom: 4rem;
  color: black;
}

.social_links:hover{
  color: rgb(4, 4, 4);
}

.successful{
  color: white;
  background-color: rgb(4, 113, 4);
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
}

/* ================= MEDIA QUERIES (SMAILL DEVICES - PHONES) ==================== */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
  }
}
