.container > p {
  margin-bottom: 2em;
  color: black;
}

.experiences__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.experience {
  background: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 0.5px solid var(--color-primary);
  height: max-content;
  transition: var(--transition);
}

.experience:hover .experience__head {
  transition: var(--transition);
  border-bottom: 0.5px solid black;
}

.experience:hover {
  transition: var(--transition);
  background: transparent;
  border-color: black;
  cursor: default;
}

.experience:hover .experience__list_icon {
  transition: var(--transition);
  color: black;
}

.experience:hover .experience__list p {
  transition: var(--transition);
  color: black;
}

.experience__head {
  background: var(--color-primary);
  padding: 1rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.experience__head h3 {
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.experience__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1.5rem;
}

.experience__list li {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
  align-items: center;
}

.experience__list_icon {
  color: var(--color-primary);
  margin-top: 2px;
  font-size: 1.5em;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES - TABLETS) ==================== */
@media screen and (max-width: 1024px) {
  .experiences__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .experience {
    height: auto;
  }
}

/* ================= MEDIA QUERIES (SMAILL DEVICES - PHONES) ==================== */
@media screen and (max-width: 600px) {
  .experiences__container {
    grid-template-columns: 1fr;
  }
}
